{% extends 'layout/base.html' %}
{% load static %}

{% block headcss %}
    <link href="{% static 'assets/vendor/select2/css/select2.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        {% include 'shared/_urlnav.html' with main=1 nameModel='Cliente' action='Editar'  textUrl='sale:client.index'%}
        <div class="row">
            <div class="col-xl-12">
                <div class="card card-shadow mb-4">
                    <div class="card-header border-0">
                        <div class="custom-title-wrap bar-primary text-center">
                            <div class="custom-title "><h3 >Formulario de Cliente</h3></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="POST" class="picker-form">
                            {% csrf_token %}
                            {% include 'sale/clients/partials/_form.html' %}
                            <div class="text-center mt-5">
                                <button class="btn btn-success" type="submit"> <i class="mdi mdi-content-save-all"></i>  Guardar</button>
                                <a class="btn btn-outline-danger" type="button" href="{% url 'sale:client.index' %}"><i class="mdi mdi-close"></i>  Cancelar</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% comment %}         {% include 'location/_modals.html' %} {% endcomment %}
{% endblock %}
{% block js %}
     <!--select2-->
    <script src={% static 'assets/vendor/select2/js/select2.min.js' %}></script>
    <!--init select2-->
    <script src="{% static 'assets/js/Search-Ajax.js' %}"></script>
    <script src="{% static 'assets/js/client.js' %}"></script>
    <script src="{% static 'assets/js/modal-search.js' %}"></script>
    <!--[if lt IE 9]>
    <script src="assets/vendor/modernizr.js"></script>
    <![endif]-->

{% endblock %}