<div class="template-demo ml-3">
           
    <a class="btn btn-primary btn-icon-text"  href="{% url btnUrl %}">
                          <i class="mdi mdi-file-check btn-icon-prepend"></i>
                          <strong>{{ btnText }}</strong>
                        </a>
</div>
{% comment %} <div class="col-12 col-md m-lg-0  pl-4 mt-4">
    <a class="btn btn-primary btn-icon-text"  href="{% url btnUrl %}">
                          <i class="mdi mdi-file-check btn-icon-prepend"></i>
                          <strong>{{ btnText }}</strong>
                        </a></div> {% endcomment %}