<div class="col-12 col-md-6">
    <div class="form-group" style="height: 8px;">
    <div class="input-group" >
    <div class="input-group-prepend">
        <span class="input-group-text " id="search">
            <i class="mdi mdi-magnify"></i>
        </span>
    </div>
              <input  type="text" class="form-control" name="search" id="id_search" placeholder="Search now" aria-label="search" aria-describedby="search" value="{{ search }}">
              <button class="btn btn-sm btn-primary form-pill" type="submit">
              <i class="mdi mdi-magnify"></i></button>
              <a class="btn btn-sm btn-info ml-2" href="{% url btnUrl %}" data-toggle="lll">
              <i class="mdi mdi-reload"></i>
              </a>
              
</div>

    </div>
</div>

